@import "variable";
body{
    .authors-page{
        .hero-section{
            background-color: $podcast_yellow_accent1;
            .hero-right{
                padding-top: 50px;
                text-align: right;
            }
        }
        .authors-listing{
            padding: 40px 0;
            .author-item{
                margin-bottom: 56px;
                display: block;
                .author-image{
                    border-radius: 16px;
                    overflow: hidden;
                    margin-bottom: 24px;
                }
                h3{
                    margin-bottom: 4px;
                }
            }
        }
    }
    .authors-detail-page{
        .hero-section{
            background-color: $podcast_yellow_accent1;
            height: 285px;
        }
        .authors-detail{
            margin-top: -225px;
            padding-bottom: 48px;
            .back-btn{
                margin-bottom: 24px;
                display: block;
                img{
                    margin-right: 12px;
                    max-width: 360px;
                }
            }
            .author-item{
                margin-bottom: 48px;
                .author-image{
                    display: inline-block;
                    border-radius: 16px;
                    overflow: hidden;
                    margin-bottom: 32px;
                }
                .author-name{
                    margin-bottom: 8px;
                }
                .designation{
                    @include fontStyle(
                        $fontFamily: $regularFont,
                        $size:$font24,
                        $color: $medium_gray2,
                        $lineHeight: $lineHeight30
                    );
                    span{
                        padding: 0 16px;
                        display: inline-block;
                        position: relative;
                        &::before{
                            content: '';
                            position: absolute;
                            height: 6px;
                            width: 6px;
                            background: $medium_gray2;
                            border-radius: 50%;
                            left: -6px;
                            top: 12px;
                        }
                        &:first-child{
                            &::before{
                                content: none;
                            }
                        }
                    }
                }
                .social-links{
                    margin: 16px 16px 24px;
                    li{
                        a{
                            display: inline-block;
                            height: 24px;
                            width: 24px;
                            border-radius: 50%;
                            background-color: $black;
                        }
                    }
                }
            }
            .blogs-row{
                .blogs{
                    margin-top: 32px;
                    .card-wrapper{
                        display: block;
                        width: 100%;
                        border-radius: 8px;
                        background: $light_gray;
                        margin-bottom: 30px;
                        transition: all 0.1s ease-out;
                        .overview-row{
                          .img-blk{
                            position: relative;
                            .featured-img{
                              height: 240px;
                              width: 100%;
                              object-fit: cover;
                              border-radius: 8px;
                            }
                            p{
                              position: absolute;
                              top: 0;
                              left: 0;
                              border-radius: 8px 0px;
                              display: inline-block;
                              background: rgba(0, 0, 0, 0.4);
                              padding: 2px 8px;
                              img{
                                margin-right: 4px;
                                position: relative;
                                top: -2px;
                              }
                              span{
                                color: $white;
                                text-transform: uppercase;
                              }
                            }
                          }
                          .content-blk{
                            // background: $light_gray;
                            padding: 16px 16px 16px 0;
                            position: relative;
                            .tags-list{
                              margin-bottom: 10px;
                              li{
                                span{
                                  background: rgba(0, 0, 0, 0.04);
                                  border-radius: 8px;
                                  font-size: $font10;
                                  color: $medium_gray1;
                                  text-transform: uppercase;
                                  display: inline-block;
                                  padding: 2px 8px 0;
                                }
                              }
                            }
                            h3{
                              margin-bottom: 8px;
                            }
                            .date-info{
                              color: $medium_gray2;
                              margin-bottom: 8px;
                              .date{
            
                              }
                              .dot-blk{
                                padding: 0 2px;
                              }
                              .read-time{
            
                              }
                            }
                            .description{
                              margin-bottom: 16px;
                            }
                            .author-blk{
                              position: absolute;
                              bottom: 16px;
                              min-height: 32px;
                              img{
                                position: absolute;
                                left: 0;
                                top: 0;
                                height: 32px;
                                width: 32px;
                                object-fit: cover;
                                border-radius: 8px;
                              }
                              h4{
                                margin-left: 40px;
                                text-transform: capitalize;
                              }
                              &.host-blk{
                                ul{
                                  min-height: 32px;
                                  li{
                                    position: relative;
                                    padding-right: 20px;
                                    h4{
                                      margin-top: 6px;
                                    }
                                  }
                                }
                              }
                            }
                          }
                        }
                        &.card-hidden{
                          display: none;
                          transition: all 0.3s ease-in;
                        }
                    }
                }
            }
        }
    }
    .authors-detail-page, .authors-page{
        .newsletter-section{
            background: $product_pink_accent1;
            padding: 80px 0 60px;
            .newsletter-wrapper{
              background: $light_gray2;
              // padding: 80px;
              position: relative;
              border-radius: 24px;
              margin-top: -120px;
              padding: 80px 80px 0;
              .bg-img{
                position: absolute;
                bottom: 0px;
                left: -65px;
                border-bottom-left-radius: 24px;
              }
              .content-wrapper{
                padding: 16px 40px 80px 120px;
                h5{
                  margin-bottom: 24px;
                }
                h6{
                  margin-bottom: 16px;
                }
                p{
                  a{
                    color: $mrr_pink;
                    text-transform: uppercase;
                  }
                }
              }
            }
        }
    }
}

//mobile portrait view //
@media (min-width: 280px) and ( max-width: 767px){
    body {
      
    }
}
    
//mobile landscape view //    
@media (min-width: 576px) and (max-width: 767px) {
    body {

    }
}
    
//small view//
@media (min-width: 768px) and (max-width: 991px) {
    body{
    
    }
}
    
//medium view//
@media (min-width: 992px) and (max-width: 1199px) {
    body{
        
    }
}
    
//large view//
@media (min-width: 1200px) {
    body{
    
    }
}